.footer a {
    color: #777
}

.footer-top .about>div {
    height: 110px;
    margin-bottom: 10px
}

.footer-top .about>div h4 {
    color: #563d7c;
    font-size: 16px
}

.footer-bottom {
    font-size: 13px
}

.footer-bottom ul>li {
    padding: 0
}

.footer-bottom ul>li+li:before {
    padding: 0 10px;
    color: #ccc;
    content: "|"
}

#scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8
}

#scrollUp:hover {
    background-color: #333
}
