<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ponitor | 价格监测</title>
   <link href="/dist/style/style.css" rel="stylesheet">
   <link href="/dist/style/bootstrap.min.css" rel="stylesheet">
   <link href="/dist/style/bootstrap.min.css.map" rel="stylesheet">
    
  </head>
  <body>
    <div id="app">
    </div>
    <a href="https://github.com/giscafer/Ponitor" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;z-index:1001" src="/dist/img/fork.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
    <!-- <link rel="stylesheet" type="text/css" href="/dist/style.css"> -->
    <script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/dist/js/jquery.min.js"><\/script>')</script>
    <script src="/dist/js/common.js"></script>
    <script src="/dist/build.js"></script>
  </body>
  <footer class="bs-docs-footer">
</footer>
</html>
