<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ponitor | Buy Goods at the right time.</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css.map">
    
  </head>
  <body>
    <!-- <app></app> -->
    <div id="app"></div>
    <link rel="stylesheet" type="text/css" href="/dist/style.css">
    <script src="/dist/build.js"></script>
  </body>
  <footer class="bs-docs-footer">
</footer>
</html>
